<!--<div id="apidocs_container" class="embed-responsive position-absolute" style="top: 60px; bottom:0;">-->
<!--    <iframe id="apidocs_iframe" class="embed-responsive-item" src="/api-docs" allowfullscreen></iframe>-->
<!--</div>-->

<div class="embed-responsive embed-responsive-16by9 position-absolute" style="top: 0px; bottom:0; left: 0; right: 0;">
    <iframe class="embed-responsive-item" src="/api-docs" allowfullscreen scrolling="true"></iframe>
</div>
