<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Pdf2Html Converter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item <%- page === 'home' ? 'active' : '' %>">
                <a class="nav-link" href="/">Home<% if(page === 'home') { %><span class="sr-only">(current)</span><% } %></a>
            </li>
            <li class="nav-item <%- page === 'users' ? 'active' : ''%>">
                <a class="nav-link" href="/users">Users<% if(page === 'users') { %><span class="sr-only">(current)</span><% } %></a>
            </li>
            <li class="nav-item <%- page === 'doc' ? 'active' : ''%>">
                <a class="nav-link" href="/doc">API Document<% if(page === 'doc') { %><span class="sr-only">(current)</span><% } %></a>
            </li>
        </ul>
        <a class="btn btn-outline-success ml-auto my-2 my-sm-0" type="submit" href="/login" id="header_login_btn">login</a>
    </div>
</nav>
