<div class="home">
    <h1 class="text-center">Convert PDF to Html</h1>
    <form id="uploadForm" class="mb-3" enctype="multipart/form-data" action="/api/conversions" method="post">
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="validatedCustomFile" name="uploaded_file" required>
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
        <div class="form-group mb-3">
            <label  for="customControlValidation1">--split-pages (是否切分为多个单页)</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="split_pages" id="exampleRadios1" value="true" checked>
                <label class="form-check-label" for="exampleRadios1">
                    是 (推荐)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="split_pages" id="exampleRadios2" value="false">
                <label class="form-check-label" for="exampleRadios2">
                    否
                </label>
            </div>
        </div>
        <input type="submit" value="upload" class="btn btn-primary" id="upload_button"><span class="ml-5" id="upload_progress"></span>
    </form>

    <br />
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Origin Name</th>
            <th scope="col">Origin Size</th>
            <th scope="col">Uploaded File</th>
            <th scope="col">Converted File</th>
            <th scope="col">Download</th>
            <th scope="col">Split-Pages</th>
            <th scope="col">Status</th>
            <th scope="col">Progress (current/total)</th>
            <th scope="col">Convert Duration (in seconds)</th>
            <th scope="col">Creator_username</th>
            <th scope="col">Actions</th>
            <th scope="col">CreatedAt</th>
        </tr>
        </thead>
        <tbody id="tasks-list">
        </tbody>
    </table>
</div>
