<form enctype="multipart/form-data" action="/html2pdf" method="post">
    <div class="form-group">
        <input type="file" name="uploaded_file" /><br>
        <input type="checkbox" id="split-pages" class="form-control" name="split-pages"><label for="split-pages">split-pages</label><br>
        <input type="submit" value="upload" class="btn btn-default"/>
    </div>
</form>


